body {
  margin: 0;
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d6ccc2;
  font-family: Arial, sans-serif;
}

.about {
  align-self: flex-start;
  padding-top: 80px;
  justify-self: left;
  max-width: 41vw;
}
ul {
  font-size: larger;
}

h2{
  display: block;
  font-size: 1.5em;
  padding-left: 3dvw; 
}
.next {
  padding: 10px 20px; 
  font-size: 1.7em; 
  background-color: #9d2e78; 
  color: white; 
  border: 1px solid #6d2050; 
  border-radius: 8px; 
  cursor: pointer;  
  margin-left: 15%; 
  box-shadow: #4d133a 1px 1px 15px 5px; 
  display: inline-block;}

.maze-grid {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(7, 50px);
  gap: 4px;
  background: #8a817c;
  padding: 6px;
  border-radius: 10px;
}
.cell {
  background: #d5bdaf;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell.clicked {
  background: #372b24;
}
.cell.start {
  background: #ff5f5f;
}
.cell.end {
  background: #92f690;
}
.cell.path {
  background: #92f690;
}
